* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  color: #333;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {

  background: rgba(255, 254, 254, 1);
  border-right: 1px solid #ddd;
  padding: 20px;
  width: 303px;
  height: 1024;
  top: -2px;
  left: 10px;

}

.logo {
  
  height: 111px;
  border-bottom: 2px solid;
  border-color: rgba(217, 217, 217, 1);
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 40px;
  margin-right: -20px;
  margin-top:-20px ;
  background-color:rgba(255, 254, 254, 1);
  font-size: 24px;
  margin-bottom: 80px;
  color: #1e5550;
  margin-left: -20px
 


  

}

.logo span {
  font-size: 12px;
  color: #4ec3b3;
  display: block;
  margin-top: 4px;
  
  
}

.menu ul {
  list-style: none;
  
}

.menu li {
  padding: 12px 10px;
  cursor:pointer;
  color: #333;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background 0.2s;
  

  
}

.menu li.active,

.menu li:hover {
  background: #d4d4d4;
  font-weight: bold;
}

.icon {
  margin-right: 10px;
}

.content {
  flex: 1;
  padding: 20px 40px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(217, 217, 217, 1);
  padding-bottom: 11px;
  margin-bottom: 20px;
  height: 64px;
}

.user-info {

  display: flex;
  align-items: center;
  background-color:rgba(255, 254, 254, 1);
  padding: 19px;
  margin-top:0px;
  margin-bottom: 0px;
  border-left: 2px solid;
  border-color:rgba(217, 217, 217, 1);
  border-bottom: 2px solid rgba(217, 217, 217, 1);
  color: rgba(22, 71, 66, 1);

}

.circle {
  width: 27px;
  height:  27px;
  border-radius: 50%;
  background: #6d4760;
  position: relative;
  right: 8px;
}

.patients-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.patient {
  display: flex;
  align-items: center;
  border: 2px solid rgba(217, 217, 217, 1);
  border-left:white ;
  border-right: white;
  border-bottom: white;
  padding: 4px;
  gap: 20px;
  position: relative;
  top: 55px; 
  height: 66px;
  width: 1120px;

  
}

.avatar-circle {
  width: 40px;
  height: 40px;
  background: #2d867f;
  border-radius: 50%;
}

.info {
  flex: 1;
  position: relative;
  top: 12px;
}

.info span {
  display: block;
  color: #555;
  margin-top: 4px;
}

.btn {
  padding: 10px 15px;
  background: #2d867f;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  transition: background 0.3s;
  position: relative;
  top: 8px;
  
}

.btn:hover {
  background: #256b64;
}

h2{
font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(22, 71, 66, 1);
}
.floating-buttons {
  position: fixed;
  bottom: 70px;
  right: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.floating-buttons button {
  padding: 10px 15px;
  background-color:#2d867f;
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.floating-buttons button:hover {
  background-color: #256b64;
}
