* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  color: #333;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background: rgba(255, 254, 254, 1);
  border-right: 1px solid #ddd;
  padding: 20px;
  width: 303px;
}

.logo {
  height: 111px;
  border-bottom: 2px solid rgba(217, 217, 217, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin-right: -20px;
  margin-top: -20px;
  background-color: rgba(255, 254, 254, 1);
  font-size: 24px;
  margin-bottom: 80px;
  color: #1e5550;
  margin-left: -20px;
}

.logo span {
  font-size: 12px;
  color: #4ec3b3;
  display: block;
  margin-top: 4px;
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 12px 10px;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background 0.2s;
}

.menu li.active,
.menu li:hover {
  background: #d4d4d4;
  font-weight: bold;
}

.icon {
  margin-right: 10px;
}

.content {
  flex: 1;
  padding: 20px 40px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(217, 217, 217, 1);
  padding-bottom: 11px;
  margin-bottom: 20px;
  height: 64px;
}

.user-info {
  display: flex;
  align-items: center;
  background-color: rgba(255, 254, 254, 1);
  padding: 19px;
  border-left: 2px solid rgba(217, 217, 217, 1);
  border-bottom: 2px solid rgba(217, 217, 217, 1);
  color: rgba(22, 71, 66, 1);
}

.circle {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #6d4760;
  position: relative;
  right: 8px;
}

.search-section {
  margin-top: 40px;
}

.search-section label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  width: 400px;
}

.search-bar input {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
}

.search-bar button {
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(22, 71, 66, 1);
}

.patient-card {
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 0px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  

}

.avatar-big {
  width: 60px;
  height: 60px;
  background: #ccc;
  border-radius: 50%;
  position: relative;
  top: 25px;
}

.patient-info {
  flex-grow: 1;
  position: relative;
  top: 30px;
  
}

.patient-info strong {
  font-size: 18px;
  display: block;
  color:  #1e5550;
}

.patient-info p {
  font-size: 14px;
  color: #444;
}

.attendings {
 display: flex;
  justify-content: center; 
  align-items: center;     
  color: #444444e3;

  float: right;
}


.medical-record {
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 4px;
  padding: 20px;
  background: #fff;
}

.record-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
  color: #666;
}

.record-body p {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.5;
}

.record-footer {
  margin-top: 20px;
  text-align: right;
}

.btn.secondary {
 
  padding: 10px 15px;
  background: #2d867f;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  transition: background 0.3s;
  position: relative;
  top: 8px;
  
}

.btn.secondary:hover {
  background:  #256b64;
}
.patient-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza horizontalmente todos os filhos */
  gap: 1rem; /* espaço entre os elementos */
}

.patient-header {
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.attendings-text {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
    position: relative;
  top: -35px;
  color:  #1e5550;;
   
}

.btn {
  padding: 10px 15px;
  background: #2d867f;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  transition: background 0.3s;
  position: relative;
  top: 25px;
  
}

.btn:hover {
  background: #256b64;
}

